extends layout

block content
  section(id="hero")
    .hero-container
      h1 VocaBook
      h2.pt-3 Start Investing in yourself and start Growing
      a(href="/users/register").btn-get-started Get Started

