doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')



    
    script(src='/javascripts/scripts.js')
    
    title VocaBook
  body(onload="wordOfTheDay()")
    nav.navbar.navbar-expand-md.navbar-dark.navbar-inverse.fixed-top.bg-color-dark(style=' background-color: #1b1c1d')
      a.navbar-brand.ml-3(href='/')
        img(src='/images/logo.png', height='30', alt='VocaBook')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        .navbar-nav.ml-auto(style="text-align=center !important")
          if active ==="home"
            a.nav-item.nav-link.active.mr-3(href='/index') Home
          else
            a.nav-item.nav-link.mr-3(href='/index') Home
          if active === "about"
            a.nav-item.nav-link.active.mr-3(href='/index/about') About
          else
            a.nav-item.nav-link.mr-3(href='/index/about') About
          //-a.nav-item.nav-link(href='/users/register') Register
          if logged_in
            a.nav-item.nav-link.mr-3(href='/users/dashboard') Dashboard
            .dropdown
              a.nav-item.nav-link.mr-3.dropbtn() #{name} 
              .dropdown-content
                a(href='/users/delete') Delete Account
                a(href='/index/terms') Terms
           
            a.nav-item.nav-link.mr-3(href='/users/logout') Logout
              //-a.nav-item.nav-link(href='#') Logout
          else
            a.nav-item.nav-link.mr-3(href='/users/register') Register 
            a.nav-item.nav-link.mr-3(href='/users/login') Login 


    block content
