doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title VocaBook
  body
    a(href='../') Home
    a(href='/about') About

    a(href='/users/register') Register
    if login
      a(href='/users/logout') logout
    else
      a(href='/users/login') Login
      

    block content
