body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}
  

a {
  color: #00B7FF;
}


@media (max-width: 768px) {
  .center_align_mobile
  {
    text-align: center !important;
    justify-content:center !important;
  }
}


  
#hero {
  width: 100% !important;
  height: 100% !important;
  background-image: url("../images/Background.jpg") !important;
  background-size: cover !important;
  position: relative !important;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  }

  #heo:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
  }
  